<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="false"
      internalLogLevel="Error" 
      internalLogToConsole="true"
      >

  <extensions>
    <add assembly="com.github.akovac35.Logging.NLog.AspNetCore"/>
  </extensions>
  
  
  <targets>
    <!-- write logs to file -->
    <!-- https://nlog-project.org/config/?tab=layout-renderers -->
    <target xsi:type="File" name="target1"
            fileName="Logs//nlog.txt"
            encoding="utf-8"
            archiveEvery="Day"
            archiveFileName="nlog.{#}.txt"
            archiveNumbering="DateAndSequence" 
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="1073741824"
            maxArchiveFiles="31"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}] ${level:uppercase=true:truncate=3} ${threadid} ${CorrelationId} &lt;${logger}:${mdlc:CallerMemberName}:${mdlc:CallerLineNumber}&gt; ${message}${onexception:${newline}${exception:format=ToString,Data}}" />
    <target xsi:type="Console" name="target2"
            detectConsoleAvailable="true"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff zzz}] ${level:uppercase=true:truncate=3} ${threadid} ${CorrelationId} &lt;${logger}:${mdlc:CallerMemberName}:${mdlc:CallerLineNumber}&gt; ${message}${onexception:${newline}${exception:format=ToString,Data}}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- actual rules are set in appsettings.json, do not modify -->
    <logger name="*" minlevel="Trace" writeTo="target1,target2" />
  </rules>
</nlog>