@inherits BlogsBase
@page "/blogs"

@using com.github.akovac35.Logging.Correlation 

<h1>Blogs</h1>

<p>Correlation id:  @CorrelationProvider.CurrentCorrelationProvider?.GetCorrelationId()</p>

<p>Current count: @blogService.Count</p>

<button class="btn btn-primary" @onclick="AddNewRandomBlog">Add new random blog</button>
