@page "/counter"

@using Microsoft.Extensions.Logging
@using com.github.akovac35.Logging
@using com.github.akovac35.Logging.Correlation
@using global::Shared.Mocks

@inject ILogger<WebApp.Pages.Counter> logger

<h1>Counter</h1>

<p>Correlation id:  @CorrelationProvider.CurrentCorrelationProvider?.GetCorrelationId()</p>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        logger.Here(l => l.Entering());

        currentCount++;
        logger.Here(l => l.LogInformation("currentCount: {0}", currentCount));

        // Business logic call sample
        var blMock = new BusinessLogicMock<object>();
        await blMock.FirstLevelAsync(500);

        logger.Here(l => l.Exiting());
    }
}
