@page "/counter"

@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Http
@using global::com.github.akovac35.Logging.AspNetCore
@using global::com.github.akovac35.Logging
@using global::Shared.Mocks

@inject IHttpContextAccessor hc
@inject ILogger<WebApp.Pages.Counter> logger

<h1>Counter</h1>

<p>Correlation id:  @hc.GetCorrelationId()</p>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        logger.Here(l => l.Entering());

        currentCount++;
        logger.Here(l => l.LogInformation("currentCount: {currentCount}", currentCount));

        // Business logic call sample
        var blMock = new BusinessLogicMock<object>();
        await blMock.FirstLevelAsync(500);

        logger.Here(l => l.Exiting());
    }
}
